/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --text-on-accent: #000028;
  --h1-color: #db00ff;
  --control-color: var(--accent-color);
  --control-hover-color: rgba(255, 0, 112, 0.4);
  --link-underline-color: #ff8dcb;
  --page-bg-image: url("../images/cover-image-dark.png");
}
