/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-main: "IBM Plex Mono", monospace;
  --font-size: 18px;
  --main-title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --main-title-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-color: var(--control-color);
  --page-bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --text-on-accent: #000028;
  --link-underline-color: #ff8dcb;
  --main-title-color: #db00ff;
  --font-weight-bold: 700;
  --control-color: var(--accent-color);
  --control-hover-color: rgba(255, 0, 112, 0.4);
  --padding-mobile: 10px;
  --padding-desktop: 20px;
  --header-min-height-mobile: 668px;
  --header-min-height-tablet: 1024px;
  --header-min-height-desktop: 768px;
  --aside-w-tablet: 236px;
  --aside-w-desktop: 315px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --text-on-accent: #353430;
    --control-color: #353430;
    --control-hover-color: rgba(50, 49, 45, 0.4);
    --link-underline-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --page-bg-image: url("../images/cover-image-light.png");
  }

  :root:not(.theme-dark):not(.theme-light) .rec {
    display: none;
  }
}
